pbook.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="phonebooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="phonebook">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="category" />
                    <xs:element name="person">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="realName" type="xs:string" />
                          <xs:element minOccurs="0" name="imageURL" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="telephony">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="services" type="xs:string" />
                          <xs:element name="number">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="type" type="xs:string" use="required" />
                                  <xs:attribute name="quickdial" type="xs:string" use="required" />
                                  <xs:attribute name="vanity" type="xs:string" use="required" />
                                  <xs:attribute name="prio" type="xs:unsignedByte" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="uniqueid" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="owner" type="xs:unsignedByte" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>